<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# buddyupapp: http://ogp.me/ns/fb/buddyupapp#">
        <meta property="fb:app_id"                     content="{{ fbAppId }}" />
        <meta property="og:type"                       content="buddyupapp:buddyup_status" />
        <!--meta property="og:url"                        content="http://www.yahoo.com" /-->
        <meta property="og:title"                      content="{{ userprofile.user.first_name }} wants to {{ status.text }}" />
        {% if status.location.venue %}
            <meta property="og:description"            content="at {{ status.location.venue }},
                {{ status.location.address }}, {{ status.location.city }}, {{ status.location.state }}" />
        {% endif %}
        <!--meta property="og:image"                      content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png" /-->
        <meta property="buddyupapp:location:latitude"  content="{{ status.location.lat }}" />
        <meta property="buddyupapp:location:longitude" content="{{ status.location.lng }}" />
    </head>

    <body>
        <h1>BuddyUp Status</h1>
    </body>
</html>